.main-bar{
    width: calc(100% - 300px -24px);
    float: left;
    margin: 25px 0px;
    padding: 0;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    background-color: #009dff;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    margin-left: 350px;
    margin-top: 20px;
}

.main-bar-header .ask-btn:hover{
    background-color: #0086d8;
}

.display-question-conainer{
    min-height: 80px;
    width: 100%;
    display: flex;
    background-color: #fdf7e2;
    align-items: center;
    border-bottom: solid 3px #edeff0;
}

.display-question-conainer .display-votes-ans{
   padding: 20px;
}

.display-question-conainer .display-votes-ans p{
    margin: 0%;
    text-align: center;
}

.display-question-details{
    flex-grow: 1;
    padding: 0px 20px;
}

.question-title-link{
    color: #037ecb;
    text-decoration: none;
    transition: 0.3s;
}


.question-title-link:hover{
    color: #009dff;
}

.display-question-details p{
    padding: 4px;
    margin: 0%;
    
}

.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
} 

.display-tags-time .display-tags p{
    margin: 2px;
    padding: 4px;
    background-color: #eddff0;
    color: #39739d;
    font-size: 13px;;
}

.display-tags-time .display-time{
        font-size: 13px;
}

.display-tags-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}